* {
  font-family: "Poppins", serif;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../assets/bg-image.jpeg");
  color: white;
}

h1,
form {
  text-align: center;
}

h1,
h2 {
  color: white;
}

section {
  padding: 5px;
  display: flex;
  justify-content: center;
}

#booksDisplay ul {
  padding: 0;
  min-width: 300px;
  width: 60%;
}

#booksDisplay li {
  border: 1px solid white;
  list-style: none;
  padding: 15px;
}

button {
  background-color: #397ce1; /* Green */
  border: 2px solid white;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  font-weight: bold;
}

.removeButton {
  float: right;
}

#submitBttn {
  width: 100px;
  margin-top: 10px;
}

input {
  width: 300px;
  text-align: center;
}

#booksDisplay ul li:nth-child(odd) {
  background-color: rgb(175, 175, 175);
  color: white;
}

#booksDisplay ul li:nth-child(even) {
  background-color: white;
  color: black;
}

nav {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  background-color: white;
  padding: 0;
  margin: 0;
}

.navbar li {
  padding: 10px 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.hideSection {
  display: none;
}
