* {
  font-family: "Poppins", serif;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../assets/bg-image.jpeg");
  color: white;
}

h1,
form {
  text-align: center;
}

h2 {
  color: white;
  font-size: 30px;
}

ul {
  list-style: none;
}

#booksDisplay ul {
  position: relative;
  padding: 0;
  min-width: 300px;
  width: 60%;
  left: 20%;
}

#booksDisplay li {
  border: 1px solid white;
  list-style: none;
  padding: 15px;
}

button {
  background-color: #397ce1;
  border: 2px solid white;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  font-weight: bold;
}

.removeButton {
  float: right;
}

#submitBttn {
  width: 100px;
  margin-top: 10px;
}

input {
  width: 300px;
  text-align: center;
}

#booksDisplay ul li:nth-child(odd) {
  background-color: rgb(175, 175, 175);
  color: white;
}

#booksDisplay ul li:nth-child(even) {
  background-color: white;
  color: black;
}

nav {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  background-color: rgb(208, 204, 204);
  padding: 0;
  margin: 0;
}

.navbar li {
  padding: 10px 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.hideSection {
  display: none;
}

h2 {
  text-align: center;
  margin: 60px 0;
}

#contact {
  position: relative;
  text-align: center;
}

#contact ul {
  text-align: justify;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

#contact p {
  font-size: 20px;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

time {
  float: right;
  padding: 10px;
}